@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import 'styles/base';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/header';
@import 'styles/sidebar';

/* Darkmode
 =================================*/
.darkmode {
	header {
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
		background-color: #282828;
		border-color: transparent;
	}
}
